/* CSS Document */
.table_request{
	border:1px solid black;
	border-collapse:collapse;
}

.table_request tr{
	background-color:#fbfbfb;
}

.table_request tr:hover{
	background-color: #4b8f9b;
	color:white;
}

.table_request th{
	border:1px solid black;
	background: -moz-linear-gradient(top,#f3f3f3 0%,#006f83 60%);
	background: -webkit-linear-gradient(top,#f3f3f3 0%,#006f83 60%);
	background: -ms-linear-gradient(top,#f3f3f3 0%,#006f83 60%);
	background: -o-linear-gradient(top,#f3f3f3 0%,#006f83 60%);
	background: linear-gradient(top,#f3f3f3 0%,#006f83 60%);
	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3',endColorstr='#006f83', GradientType=0);
	
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:14px;
	
	padding:2px 5px;
}

.table_request th{
	color:white;
}

.table_request th a{
	color:white;	
	text-decoration:none;
}

.table_request th a img{
	text-decoration:none;
	border: none;
}

.table_request td{
	white-space: nowrap;
	border:1px solid black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
	padding:2px 5px;
}

.h2_title{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	color: #4b8f9b;
	text-decoration:underline;
	margin-left:10px;
	margin-top:20px;
	margin-bottom:30px;
}

.i_excel a{
	color:#006f83;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
}

.div_filter{
	margin:20px 5px;	
}

.div_filter label,.div_filter span{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-style:italic;
	color:#f37200;
}

.div_filter label{
	margin-left:20px;	
}

.div_no_result{
	color:red;
	font-weight:bold;
	margin:50px 25px;
}

.form-popup {
    display: none;
    background-color: #2B8797;
    border: 3px solid #f1f1f1;
    position: fixed;
    top: 0;
    right: 0;
    opacity: .9;
	margin-top: 160px;
}

#grille-param {
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: black;
	background-color: #e8eef3;
	text-align: left;
	width: max-content;
	margin-top: 25px;
	padding: 5px 10px 10px 10px;
	margin-bottom: 10px;
	/* margin-right: 2em; */
	border: 1px solid #000000;	
	min-height: 5em;
	margin-left: 0;		
}